#form-añadir-prod{
    max-width: 400px;
    margin: 20px auto;
    text-align: center;

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

.contenedor-checkboxes {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}

.contenedor-checkboxes div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container {
    margin-right: 5px;
}

#descrip-prod-tarea{
    height: 80px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.labelCategoria{
    width: auto;



}

.input-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

button {
background-color: #ff9900;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}

.success-message {
    color: green;
    font-size: 24px; 
    text-align: left;
}


.error-message {
    color: rgb(224, 18, 18);
    font-size: 24px; 
    text-align: left;
}
.contenedor-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contenedor-checkbox label {
    margin-left: 70px; 
}
.botonAñadir button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
}

.botonAñadir button:hover {
    background-color: #0056b3;
}
