#form-añadir-prod-container{
    max-width: 400px;
    margin: 20px auto;
    text-align: center;

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-añadir-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-añadir-prod > * {
    min-width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.contenedor-checkboxes {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.contenedor-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.checkbox-container {
    margin-right: 5px;
}

#descrip-prod-tarea{
    height: 80px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.labelCategoria{
    width: auto;
    margin:0px;
}

.input-form {
    padding: 10px;
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.botonAñadir button {
    font-weight: bold;
}

select {
    cursor: pointer;
}

button {
background-color: #ff9900;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9900;
}

.success-message {
    color: green;
    font-size: 24px; 
    text-align: left;
}


.error-message {
    color: rgb(224, 18, 18);
    font-size: 24px; 
    text-align: left;
}

.botonAñadir button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
}

.botonAñadir button:hover {
    background-color: #0056b3;
}
