.sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(5, 113, 255);
    margin-bottom: 10px;
    font-size: 20px;
}

#Titulo{
    margin-left: 20px;
    width:fit-content;
    color: white;
}
#carrito-btn-container {
    top: 10px;
    left: 20%;
    transform: translateX(-50%);
}
.imagen-carrito {
    width: 70px; 
    height: 70px; 
}

#login{
    float: right;
}

#nombre-Usuario{
    margin-right: 30px;
    font-weight: bold;
    color: white;
}

#cerrar-sesion{
    padding: 10px;
}

#Titol{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}