.subpage-cont {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enl-cont{
    text-decoration: none;
    padding: 5px;
    background-color: rgb(255, 127, 41);
    border: 2px solid black;
    color: white;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px; 
}

.boton {
    text-align: center;
}

.boton a {
    display: block;
    text-decoration: none;
    color: black;
}

.boton a:hover {
    background-color: #ddd;
}

.boton img {
    width: 300px; 
    height: auto;
    margin-bottom: 10px;
}

.boton p {
    font-size: 18px; 
    margin: 0;
}

.subtitulo {

    width: 75%;
    text-align: center;
    margin-left: 200px;

}

/* copiados de estils.css y cmabiados de nombre */
.div-com{
    margin-left: 10px;
    width: 100%;
}

.lista-com{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.comanda{
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin-left: 10px;
    border-right-color: grey;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 5px;
}

.enl-com{
    text-decoration: none;
    color: black;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items:center;    
    border: 1px solid transparent;
}

.com-prev {
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.com-prev:hover {
    transform: scale(1.05);
}

.text-com {
    margin: 5px;
}

.comanda-text {
    font-weight: bold;
    font-size: 20px;
}