form {
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

.button {
    background-color: rgb(5, 113, 255);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(5, 95, 213);
}

#subtitulo-añadir {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#form-domicilio{
    min-width: 400px;
    display: flex;
    align-items: center;
    padding:20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 6px;
}

#form-domicilio > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-domicilio > form > input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-domicilio > form > select{
    padding: 5px;
}

.content-añ-domicilio{
    display: flex;
    justify-content: center;
}