.subpage{
    margin-left: 30px;
    display: block;
}

.subpage > *{
    margin-bottom: 10px;
}

.content{
    display: flex;
}

.menu-categorias{
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin-left: 10px;
    border-right-color: grey;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 5px;
}

.catlist{
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    color: rgb(107, 104, 104);
}

.catlist:hover{
    background-color: rgba(234, 234, 234, 0.777);
}

.casilla{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 384px;
    display: flex;
    justify-content: center;
}

.inputclass{
    width: 70%;
    height: 40px;
    color: black;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

.catalogo{
    margin-left: 10px;
    width: 100%;
}

.lista-prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.enl-prod{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
}

.enl-prod:hover{
    border: 1px solid #000;
}

.imagen-prod-cat{
    width: 200px;
    height: 200px;
    object-fit:contain;
    margin-bottom: 8px;
}

.product-prev{
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 40px;
}

#div-but-mod{
    display: flex;
    justify-content: center;
    width: 100%;
}

#but-mod{
    color:black;
    font-size: 16px;
    border:none
}

#but-mod:hover{
    background-color: rgb(5, 113, 255);
}

.link {
    text-decoration: none;
    font-style: italic;
    font: bolder;
    color: rgb(5, 113, 255);
    margin: 0px 30px;
}