.imagen-prod{
    width: 400px;
    height: 400px;
    object-fit:contain;
    margin-right: 50px;
    padding: 10px;
}

#vista-producto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#descripcion-prod h2{
    margin-top: 30px;
}

#vend-princ{
    display: flex;
    flex-direction: row;
}

#stock{
    font-weight: bold;
    color: red;
}

#otros-vend{
    float: right;
    margin-left: 20px;
    margin-right: 100px;
}

#otros-vend p{
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
}

#div-carrito{
    float: right;
    margin-left: 50px;
}

.boton-compra{
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(164, 160, 160);
}

.boton-compra:hover{
    background-color: rgba(179, 179, 179, 0.877)
}