.imagen-prod{
    width: 400px;
    height: 400px;
    object-fit:contain;
    margin-right: 50px;
}

#vista-producto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#descripcion-prod h2{
    margin-top: 30px;
}

#vend-princ{
    display: flex;
    flex-direction: row;
}

#stock{
    font-weight: bold;
    color: red;
}

#otros-vend{
    float: right;
    margin-right: 100px;
}

#otros-vend p{
    margin-top: 35px;
    font-size: 30px;
    font-weight: bold;
}

.boton-compra{
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(97, 94, 94);
}

.boton-compra:hover{
    background-color: rgba(234, 234, 234, 0.777);
}